<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SummerHoliday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D42C5DD01CA985BB0089E216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42C5DE41CA985BB0089E216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D42C5DEF1CA985BB0089E216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
