<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cfid</key>
		<integer>79</integer>
		<key>cfname</key>
		<string>咨询类超长字符超长字符超长字符11111</string>
		<key>sublist</key>
		<array>
			<dict>
				<key>scfid</key>
				<integer>205</integer>
				<key>scfname</key>
				<string>功能咨询</string>
			</dict>
			<dict>
				<key>scfid</key>
				<integer>206</integer>
				<key>scfname</key>
				<string>技术咨询</string>
			</dict>
			<dict>
				<key>scfid</key>
				<integer>207</integer>
				<key>scfname</key>
				<string>收费咨询</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cfid</key>
		<integer>80</integer>
		<key>cfname</key>
		<string>报问题</string>
		<key>sublist</key>
		<array>
			<dict>
				<key>scfid</key>
				<integer>208</integer>
				<key>scfname</key>
				<string>功能问题</string>
			</dict>
			<dict>
				<key>scfid</key>
				<integer>209</integer>
				<key>scfname</key>
				<string>界面问题</string>
			</dict>
			<dict>
				<key>scfid</key>
				<integer>210</integer>
				<key>scfname</key>
				<string>改进建议</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cfid</key>
		<integer>81</integer>
		<key>cfname</key>
		<string>投诉</string>
		<key>sublist</key>
		<array>
			<dict>
				<key>scfid</key>
				<integer>211</integer>
				<key>scfname</key>
				<string>产品质量投诉</string>
			</dict>
			<dict>
				<key>scfid</key>
				<integer>212</integer>
				<key>scfname</key>
				<string>服务态度投诉</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cfid</key>
		<integer>115</integer>
		<key>cfname</key>
		<string>345</string>
		<key>sublist</key>
		<array>
			<dict>
				<key>scfid</key>
				<integer>312</integer>
				<key>scfname</key>
				<string>山东省地方</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cfid</key>
		<integer>120</integer>
		<key>cfname</key>
		<string>咨询</string>
		<key>sublist</key>
		<array>
			<dict>
				<key>scfid</key>
				<integer>316</integer>
				<key>scfname</key>
				<string>444</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
